<section>
    <div class="container mt-4">
        <div class="row mt-3">
            <table class="table" id="orderTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Delivery Address</th>
                        <th scope="col">Delivery Pincode</th>
                        <th scope="col">Mobile No</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                     <tbody>
                    {{#each orders}}
                    <tr>
                          <td scope="row">{{this.date}}</th>
                          <td>{{this.deliveryDetails.address}}</td>
                          <td>{{this.deliveryDetails.pincode}}</td>
                          <td>{{this.deliveryDetails.mobile}}</td>
                          <td>{{this.paymentMethod}}</td>
                        <td id="status"><strong>{{this.status}}</strong></td>
                        <td>{{this.totalAmount}}</td>
                        {{#if this.shippment}}
                        <td></td>
                        {{else}}
                            <td><button class="btn btn-success" onclick="shipping('{{this._id}}')">Ship</button></td>
                        {{/if}}
                        {{#if this.cancelled}}
                        <td></td>
                        {{else}}
                        <td><button class="btn btn-danger" onclick="Cancel('{{this._id}}'); return confirm('Do you want to cancel the order?');" >Cancel</button></td>
                        {{/if}}
                        <td><a class="btn btn-primary" href="/admin/view-ordered-products-admin/{{this._id}}" style="width: 4cm;">View Products</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    $(document).ready( function () {
    $('#orderTable').DataTable();
} );
</script>